<div class="photo-viewer-wrapper">
  <h1 class="mat-display-1">{{ topMessage }}</h1>
  <mat-paginator
    [length]="photos.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = getPaginatorData($event)"
  >
  </mat-paginator>
  <button
    mat-raised-button
    color="primary"
    class="filter-button"
    (click)="FilterByTitle()"
  >
    Filter by title
  </button>
  <div class="photo-list-wrapper">
    <div
      class="photo-list-item"
      *ngFor="let photo of photos | slice: lowValue:highValue"
    >
      <h3>{{ photo.title }}</h3>
      <img class="photo-item" src="{{ photo.url }}" />
    </div>
  </div>
</div>
